<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <th>Resim</th>
            <th>Ad</th>
            <th>Detay</th>
            <th>Popülerlik</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Kategori</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="~/Content/Image/@item.resim" width="80" height="80" /></td>
                <td>@item.urun_adi</td>
                <td>@item.urun_detay</td>
                <td>
                    @if (item.populerlik == true)
                    {
                        <label> Evet </label>
                    }
                    @if (item.populerlik == false)
                    {
                        <label>Hayır</label>
                    }
                </td>

                <td>@item.urun_fiyat</td>
                <td>@item.stok</td>
                <td>@item.Kategori.kategori_adi</td>

            </tr>
        }
    </table>
</body>
</html>

